.idea/
### Python template
# Byte-compiled / optimized / DLL files
**/__pycache__
__pycache__/
*.py[cod]
*$py.class
*.pyc

# Django stuff:
*.log
local_settings.py
db.sqlite3

# Environments
.env
.venv
env/
venv/
ENV/