<!--{% load static %}-->

<!--{% block content %}-->
<!--  <form method="post" enctype="multipart/form-data">-->
<!--    {% csrf_token %}-->
<!--    <input type="file" name="myfile">-->
<!--    <button type="submit">Upload</button>-->
<!--  </form>-->

<!--  {% if uploaded_file_url %}-->
<!--    <p>File uploaded at: <a href="{{ uploaded_file_url }}">{{ uploaded_file_url }}</a></p>-->
<!--  {% endif %}-->

<!--{% endblock %}-->

<!--old-->

<!--<head>-->
<!--    <meta charset="utf-8">-->
<!--    <meta http-equiv="X-UA-Compatible" content="IE=edge">-->
<!--    <title>-->
<!--        {% block title %}-->
<!--            Textranslator-->
<!--        {% endblock %}-->
<!--    </title>-->
<!--    &lt;!&ndash; Tell the browser to be responsive to screen width &ndash;&gt;-->
<!--    <meta name="viewport" content="width=device-width, initial-scale=1">-->

<!--    &lt;!&ndash; Google Font: Source Sans Pro &ndash;&gt;-->
<!--    <link href="https://fonts.googleapis.com/css?family=Source+Sans+Pro:300,400,400i,700" rel="stylesheet">-->

<!--</head>-->

<!DOCTYPE html>
<html lang="en">
<head>
<title>Textranslator</title>
<meta charset="utf-8">
<meta name="viewport" content="width=device-width, initial-scale=1">
<link href="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-1BmE4kWBq78iYhFldvKuhfTAU6auU8tT94WrHftjDbrCEXSU1oBoqyl2QvZ6jIW3" crossorigin="anonymous">
<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/js/bootstrap.bundle.min.js" integrity="sha384-ka7Sk0Gln4gmtz2MlQnikT1wXgYsOg+OMhuP+IlRH9sENBO0LRn5q+8nbTov4+1p" crossorigin="anonymous"></script>
<script src="https://kit.fontawesome.com/228eec93ed.js" crossorigin="anonymous"></script>
</head>



    <!--Bootstrap-->
<!--    <link type="text/css" href="../../static/bootstrap-5.1.3-dist/css/bootstrap.min.css">-->
<!--<link href="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-1BmE4kWBq78iYhFldvKuhfTAU6auU8tT94WrHftjDbrCEXSU1oBoqyl2QvZ6jIW3" crossorigin="anonymous">-->

<body>

<div style="padding-left:30px; padding-top:70px;">
</div>

<div style="background-color:#008080; height:300px; text-align: center;padding: 70px 10px;width: 100%;">
  <h1 style="font-family: 'Source Sans Pro', sans-serif;font-size: 70px;color: #fff;">Textranslator [beta]</h1>
  <h3 style="font-family: 'Source Sans Pro', sans-serif;font-size: 23px;color: #ffb380;">
      Перевод LaTeX файлов с английского на русский. Загрузите файл или скопируйте его содержимое в окно ниже. По всем вопросам пишите на drgulevich@itmo.ru</h3>
</div>

<div style="background-color:#E7E9EB;width: 100%;">
  <div style="
    display: flex;
    align-content: center;
    justify-content: center;
    overflow: auto; ">
    <div style="display: block;">
      <form method="post" enctype="multipart/form-data">
        {% csrf_token %}

        <div class="row row-cols-lg-auto g-3 align-items-center" style="padding: 70px 50px;">
          <div class="col-12">
            {{ form.upload }}
          </div>
          <div class="col-12">
            <button type="submit" class="btn btn-secondary" name="submit1">Translate and download</button>
          </div>
        </div>

      </form>
    </div>
  </div>

  <hr style="width: 80%; margin: auto;">

  <div style="
    display: flex;
    align-content: center;
    justify-content: center;
    overflow: auto; ">
    <div style="display: block; padding-top:30px; padding-bottom:30px; width:90%">
      <form method="post">
        {% csrf_token %}
        <div class="container">
          <div class="row" style="justify-content: center;display: grid; padding-bottom:10px;">
            <div class="col-1" style="display: inline-block;">
              <button type="submit" class="btn btn-secondary" name="submit2">Translate</button>
            </div>
          </div>
          <div class="row">
            <div class="col-6">
<!--              <form>-->
                <div class="form-group">
                  <label for="Textarea1" style="display: block; text-align: center;">Your text</label>
                  <textarea class="form-control" id="Textarea1" name="Textarea1" rows="15"></textarea>
                </div>
<!--              </form>-->
            </div>
            <!--          <div class="col-2">-->

            <!--          </div>-->
            <div class="col-6">
<!--              <form>-->
                <div class="form-group">
                  <label for="Textarea2" style="display: block; text-align: center;">Translation</label>
                  <textarea class="form-control" id="Textarea2" name="Textarea2" rows="15">{{ translation }}</textarea>
                </div>
<!--              </form>-->
            </div>
          </div>
        </div>
      </form>
    </div>
  </div>

</div>

<footer>
    <p style="font-family: 'Source Sans Pro', sans-serif;font-size: 15px;font-weight: bold; color: #5C636A; text-align: center;padding-top: 32px; padding-bottom:32px;">
      2022, D. Gulevich, V. Kozin, D. Khudiakova
    </p>
</footer>

<script>
document.getElementById("id_upload").classList.add('form-control');
</script>

</body>
</html>

<!--<form method="post" enctype="multipart/form-data">-->
<!--  {% csrf_token %}-->
<!--  {{ form.as_p }}-->
<!--  <button type="submit">Submit</button>-->
<!--</form>-->

<!--<table>-->
<!--  <thead>-->
<!--    <tr>-->
<!--      <th>Name</th>-->
<!--      <th>Uploaded at</th>-->
<!--      <th>Size</th>-->
<!--    </tr>-->
<!--  </thead>-->
<!--  <tbody>-->
<!--    {% for document in documents %}-->
<!--      <tr>-->
<!--        <td><a href="{{ document.upload.url }}" target="_blank">{{ document.upload.name }}</a></td>-->
<!--        <td>{{ document.uploaded_at }}</td>-->
<!--        <td>{{ document.upload.size|filesizeformat }}</td>-->
<!--      </tr>-->
<!--    {% empty %}-->
<!--      <tr>-->
<!--        <td colspan="3">No data.</td>-->
<!--      </tr>-->
<!--    {% endfor %}-->
<!--  </tbody>-->
<!--</table>-->

<!--<input type="file" id="file_input"/>-->
<!--<p id="status">Please select a file</p>-->

<!--<form method="POST" action="/submit_form/">-->
<!--  <input type="hidden" id="avatar-url" name="avatar-url" value="/static/default.png">-->
<!--  <input type="text" name="username" placeholder="Username">-->
<!--  <input type="text" name="full-name" placeholder="Full name">-->
<!--  <input type="submit" value="Update profile">-->
<!--</form>-->

<!--<script type="text/javascript">-->
<!--(function() {-->
<!--  document.getElementById("file_input").onchange = function(){-->
<!--    var files = document.getElementById("file_input").files;-->
<!--    var file = files[0];-->
<!--    if(!file){-->
<!--      return alert("No file selected.");-->
<!--    }-->
<!--    getSignedRequest(file);-->
<!--  };-->
<!--})();-->
<!--</script>-->